// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

/* Carousel Styling */
.carousel-item img {
    height: 400px; /* Set your desired height */
    object-fit: cover; /* This ensures the image covers the area without distortion */
  }  

:root {
    --light-blue: #8ECAE6;
    --medium-blue: #219EBC;
    --dark-blue: #023047;
    --yellow: #FFB703;
    --orange: #FB8500;
    --green: #55a630;
    --dark-green: #007f5f;
    --red: #f25c54;
    --dark-red: #e0092d;
}

.light-blue {
  color: var(--light-blue);
}

.medium-blue {
  color: var(--medium-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

input::placeholder {
  color: white; /* Change placeholder text color */
  opacity: 1;   /* Ensure full opacity */
  text-align: center;
}  

.center{
  margin-left: 37%;
}

.heading{
  margin-top: 5%;
}

.description{
  margin-top: 620px;
}

/* NAVBAR */

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 54px;
}

nav a {
  height: 100%;
  padding: 0 38px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: rgb(240, 240, 240);
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 278px;
  z-index: 100;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: -8px 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
.btn-green {
  background-color: var(--green);
  color: black;
  transition: all 0.3s ease;
}}

.btn-green:hover {
  background-color: var(--dark-green); /* Customize this */
  color: black; /* Customize this */
  transform: scale(1.1);
}

.btn-red {
  background-color: var(--red);
  color: black;
  transition: all 0.3s ease;
}

.btn-red:hover {
  background-color: var(--dark-red); /* Customize this */
  color: black; /* Customize this */
  transform: scale(1.1);
}

.graph{
  width: 50rem;
  height: auto;
}